/* input */
.form__input, .filter-input {
  width: 320px;
  height: 45px;
  display: block;
  border: 1px solid var(--border);
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 14px;
  color: var(--text);
  border-radius: 7px;
  margin: 0;
  padding: 4px 8px 4px 32px;
  background-color: var(--background);
  background-image: url("../../assets/search.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 16px 16px;
}

@media screen and (max-width: 768px) {
  .form__input, .filter-input {
    font-size: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .form__input:hover, .filter-input:hover  {
  border-color: var(--green);
}
.form__input:focus, .filter-input:focus {
  outline: none;
  border-color: var(--green);
  box-shadow: 0 0 0 2px rgba(46, 204, 113, 0.25);
}
}
